<div class="country">
    <h2>Country</h2>
    <div class="detail">
        <div *ngIf="country$ | async as country">
           <span class="name">{{country.name}}</span>
           <span class="flag"><img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 50px"></span>
           <div style="width: 100%; padding-top: 20px;"> 
            <p>Area: <span style="text-align:right;">{{country.area | number}} </span><span>&#13218;</span></p>
            <p>Population: <span style="text-align:right;">{{country.population | number}}</span></p>
            <div style="width:100%">
                <button type="button" (click)="navigate(country.name!)">Click to edit</button>
            </div>
            <!--
            <div style="width: 100%">
              <label for="country-area">Area &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label>
              <input type="text" id="country-area" [(ngModel)]="country.area" placeholder="area"/>
            </div>
            <div style="width: 100%; padding-top: 10px;">
                <label for="country-population">Population: </label>
                 <input type="text" id="country-population" [(ngModel)]="country.population" placeholder="population"/>
            </div>
            -->
        </div>
        
        </div>
    </div>
  </div>

